@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    /*
    --bg-black-900: #151515;
    --bg-black-100: #222;
    --bg-black-50: #393939;
    --text-black-900: #FFF;
    --text-black-700: #E9E9E9E9;
    */

    --bg-black-900: #312E38; /* background */
    --bg-black-100: #28262E; /*black-medium*/
    --bg-black-50: #393939;
    --text-black-900: #FFF;
    --text-black-700: #E9E9E9E9;

    --bg-input: #232129;
    --bg-shape: #3E3B47;
}

body.light {
    /* Light Mode original */
    /*
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

    --bg-input:#fdf9ff;
    --bg-shape: #fdf9ff; 
    */
    /*--------------*/

    /* Light Mode */
    /*
    --bg-black-900: #F7F7FA; 
    --bg-black-100: #E9E9EF; 
    --bg-black-50: #E1E1E6;
    --text-black-900: #1C1C1C; 
    --text-black-700: #3A3A3A; 

    --bg-input: #F0F0F5; 
    --bg-shape: #DADADA; 
    */
    /*---*/

    --bg-black-900: #f2f2fc; /* background claro */
    --bg-black-100: #E9E9EF; /* cinza claro */
    --bg-black-50: #C0C0C0; /* cinza médio claro */
    --text-black-900: #312E38; /* texto escuro */
    --text-black-700: #4A4A4A; /* texto cinza escuro */

    --bg-input: #FFFFFF; /* fundo do input branco */
    --bg-shape: #fff; /* fundo de formas claro */
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}   

body {    
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;

    height: 100vh;
}

::before, ::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 3rem;
    opacity: 1;
    position: fixed;
    left: 27rem;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

/*
.hidden {
    display: none !important;
}

.section.contact {
    z-index: 1;
}
*/

.section.back-section {
    z-index: 1;
}

.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.padd-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container {
    max-width: 110rem;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 6rem;
    padding-bottom: 7rem;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 6rem;
}

.section-title h2 {
    font-size: 4rem;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: "";
    height: .4rem;
    width: 5rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: "";
    height: .4rem;
    width: 2.5rem;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: .8rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    position: relative;
}

.btn {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1.2rem 3.5rem;
    color: white;
    border-radius: 1rem;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
    gap: 1rem;
}

.btn:hover {
    transform: scale(1.1);
}

.shadow-dark {
    box-shadow: 0 0 2rem rgba(48, 46, 77, .15);
}

/*============ Aside ============*/
.aside {
    width: 27rem;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 3rem;
    height: 100%;
    border-right: .1rem solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 5rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 1.5rem 2rem;
    font-size: 3rem;
    letter-spacing: .3rem;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 4rem;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-bottom:  .5rem solid var(--skin-color);
    border-left:  .5rem solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-top:  .5rem solid var(--skin-color);
    border-right:  .5rem solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 4rem;
    width: 4.5rem;
    border: .1rem solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 30rem;
    top: 2rem;
    border-radius: .5rem;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggler:hover {
    filter: brightness(.7);
}

.aside .nav-toggler span {
    height: .2rem;
    width: 1.8rem;
    background: var(--skin-color);
    display: inline-block;
    position: relative;

}

.aside .nav-toggler.open span {
    background-color: transparent;
}

.aside .nav-toggler span::before {
    content: '';
    height: .2rem;
    width: 1.8rem;
    background: var(--skin-color);
    position: absolute;
    top: -.6rem;
    left: 0;
}

.aside .nav-toggler.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggler span::after {
    content: '';
    height: .2rem;
    width: 1.8rem;
    background: var(--skin-color);
    position: absolute;
    top: .6rem;
    left: 0;
}

.aside .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 5rem;
}

.aside .nav li {
    margin-bottom: 2rem;
    display: block;
}

.aside .nav li a {
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    border-bottom: .1rem solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: .5rem 1.5rem;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 1.5rem;
}

/*============ Home ============*/
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900)
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 2.8rem;
    margin: 1.5rem 0;
}

h3.hello span {
    font-family: 'Clicker Script', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: var(--skin-color);
}

h3.my-profession {
    font-size: 4rem;
    margin: 1.5rem 0;
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    font-size: 1.7rem;
    color: var(--text-black-700);
}

.home-info .social-media {
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
}

.home-info .social-media .btn-social-media i {
    padding: 1.2rem 1.3rem;
    border-radius: 50%;
    font-size: 3rem;
    color: white;
    background-color: var(--skin-color);
    transition: all 0.3s ease-in-out;
}

.home-info .social-media .btn-social-media:hover i {
    transform: scale(1.2);
}

.home-info .social-media .btn-social-media:hover .fa-whatsapp {
    background-color: hsla(145, 60%, 50%);
    box-shadow: 0 .5rem 2.2rem hsla(145, 60%, 50%, 1);
}

.home-info .social-media .btn-social-media:hover .fa-linkedin-in {
    background-color: hsla(201, 89%, 36%);
    box-shadow: 0 .8rem 3.2rem hsla(201, 89%, 36%, 1);
}

.home-info .social-media .btn-social-media:hover .fa-github {
    background-color: hsla(262, 28%, 45%);
    box-shadow: 0 .8rem 3.2rem  hsla(262, 28%, 45%, 1);
}

.home-info .home-button {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
}

/*============ home-img ============*/
.home .home-img { /* home__img-wrapper*/
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img::before,
.home .home-img::after {
    content: '';
    position: absolute;
    inset: 0;
}

.home .home-img::before {
    background-color: var(--skin-color);
    filter: brightness(1.2);
    animation: animate__before 8s ease-in-out infinite;
}


.home .home-img::after {
    background-color: var(--skin-color);
}


.home .home-img::after {
    animation: animate__after 7s ease-in-out infinite;
}

.home .home-img img { 
    margin-top: 2rem;
    height: 40rem;
    z-index: 10;
    position: relative;
    vertical-align: middle;
    /*margin: auto;*/
    /*
    border-radius: .5rem;*/
}

@keyframes animate__before {
    0% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    50% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    100% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }
}

@keyframes animate__after {
    0% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }

    50% {
        border-radius: 65% 35% 29% 71% / 55% 30% 70% 45%;
    }

    100% {
        border-radius: 21% 79% 50% 50% / 21% 50% 50% 79%;
    }
}

/*============ About ============*/
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
    color: var(--skin-color);
}

.about .about-content .about-text p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 4rem;
    /*
    flex: 0 0 60%
    max-width: 60%;
    */
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: var(--text-black-900);
    border-bottom: .1rem solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: .4rem;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 3rem;
}

.about .about-content .personal-info .buttons .btn {
    margin-top: 1rem;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 4rem;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .skills .skill-item h5 {
    line-height: 4rem;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--text-black-900);
    text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
    background-color: var(--bg-black-50);
    width: 100%;
    height: .7rem;
    border-radius: .4rem;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 2.5rem;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: .4rem;
    background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -4rem;
    font-weight: 400;
    line-height: 4rem;

}

.row.row-education {
    justify-content: center;
}

.about .about-content .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 3rem;
}

.about .about-content h3.title {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    font-weight: 700;
    color: var(--text-black-900);
    text-align: center;
}

.about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: var(--bg-shape);
    padding: 3rem 1.5rem;
    border: .1rem solid var(--bg-black-50);
    border-radius: 1rem;
    width: 100%;
    position: relative;

    /*
    background-color: var(--bg-black-100);
    */

}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-bottom: 5rem;
    padding-left: 3.7rem;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
    content: "";
    width: .1rem;
    position: absolute;
    height: 100%;
    left: .7rem;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa {
    margin-right: .5rem;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
    line-height: 2.5rem;
    font-size: 1.6rem;
    text-align: justify;
    color: var(--text-black-700);
}

/*============ Project ============*/
.project .container {
    padding-bottom: 4rem;
}

/*project em andamento*/

.project .row.project-container {
    justify-content: center;
    gap: 3rem;
}

.project .project-item {
    display: flex;
    flex-direction: column;
    gap: 3rem;  
    padding: 3rem;
    border-radius: 2rem;
    background: var(--bg-shape);
    border: .1rem solid var(--bg-black-50);
    transition: box-shadow .3s ease-in-out;   
}

.project .project-item:hover {
    box-shadow: .2rem .4rem .4rem .5rem rgba(0, 0, 0, 0.2509803922);
}

.project .project-item .project-img {
    display: flex;
    justify-content: center;
}

.project .project-item .project-img .desktop{
    width: 60rem;
}

.project .project-item .project-img .project-mobile {
    position: absolute;
    background-position: 100% 0%;
    width: 12rem;
    margin-top: 1.2rem;
    margin-right: 70rem;
    z-index: 2;
}


.project .project-item .project-img .project-desktop {    
    background-size: cover;
    background-position: 100% 0%;
    position: absolute;
    width: 46.7rem;
    max-width: 100%; 
    height: 29.7rem; 
    border-radius: .5rem;
    margin-top: 1.7rem;
    z-index: 1;
    cursor: pointer;
    transition: 5s; 

    /*
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top left;
    width: 360px;
    height: 660px;
    */
}

.project .project-item .project-img .project-desktop:hover {
    background-position: 100% 100%;
}

.project-desktop-1 {
    background-image: url(../images/project/project1.png);
}

.project-desktop-2 {
    background-image: url(../images/project/project2.png);
}

.project-desktop-3 {
    background-image: url(../images/project/project3.png);
}

.project-desktop-4 {
    background-image: url(../images/project/project4.png);
}


.project .project-item .project-title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.project .project-item .project-title .logo {
    width: 3.5rem;
}

.project .project-item .project-title .title{
    font-size: 2.5rem;
    color: var(--text-black-900);
    font-weight: 700;
}

.project .project-item .project-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    
    /*
    width: 600px;
    max-width: 100%;*/
}

.project .project-item div p {
    max-width: auto;
    color: var(--text-black-700);
    font-size: 1.6rem;
    line-height: 2.5rem;

    width: 60rem;
    max-width: 100%;
}

.project .project-item div p span {
    font-weight: 700;
    color: var(--skin-color)
}
/*-*/

.project .project-item div .container-btn {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.project .project-item div .container-btn .btn i {
    margin-left: .5rem;
}
  

/*============ CONTACT ============*/
.contact-title {
    color: var(--skin-color);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 6rem;
}

/*============ contact-item ============*/
.contact .contact-item {
    margin-bottom: 3rem;
    flex: 0 0 25%;
    max-width: 40%;
}

.contact .contact-item .contact-item-inner {
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 2rem;
    padding: 3rem 1.5rem;
    text-align: center;
    transition: all .3s ease-in-out;
}

.contact .contact-item .contact-item-inner:hover {
    cursor: pointer;
    box-shadow: 0rem 0rem 0rem .2rem var(--skin-color);
}

.contact .contact-item .contact-item-inner i {
    height: 6rem;
    width: 6rem;
    font-size: 4rem;
    line-height: 6rem;
    border-radius: 50%;
    color: var(--skin-color);
    display: block;
    margin: 0 auto 3rem ;
    text-align: center; 
    transition: all .3s ease-in-out;    
}

.contact .contact-item .contact-item-inner:hover i {
    font-size: 2.5rem;
    color: white;
}


.contact .contact-item .contact-item-inner:hover i.fa-whatsapp {
    background-color: hsla(145, 60%, 50%);
    box-shadow: 0 .8rem 3.2rem hsla(145, 60%, 50%, 1);
}

.contact .contact-item .contact-item-inner:hover i.fa-linkedin-in {
    background-color: hsla(201, 89%, 36%);
    box-shadow: 0 .8rem 3.2rem hsla(201, 89%, 36%, 1);
}

.contact .contact-item .contact-item-inner:hover i.fa-github {
    background-color: hsla(262, 28%, 45%);
    box-shadow: 0 .8rem 3.2rem hsla(262, 28%, 45%, 1);
}

.contact .contact-item .contact-item-inner:hover i.fa-envelope {
    background-color: hsla(0, 100%, 50%, 1);
    box-shadow: 0 .8rem 3.2rem hsla(0, 100%, 50%, 1);
}


.contact .contact-item .contact-item-inner h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.contact .contact-item .contact-item-inner p {
    font-size: 15px;
    color: var(--text-black-700);
    line-height: 20px;
}

/*============ Contact Form ============*/
.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;

}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 3rem;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
    background: var(--bg-black-100);
    border: .1rem solid var(--bg-black-50);
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    color: var(--text-black-700);
    transition: all 0.3s ease;

    background: var(--bg-shape);
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 2rem rgba(48, 46, 77, .15);
    border: .1rem solid var(--skin-color);
}

.contact .contact-form .form-item textarea.form-control {
    height: 14rem;
    resize: none;
}

.contact .contact-form .btn {
    height: 5rem;
    padding: 0 5rem;
    cursor: pointer;
}

@media (max-width: 1199px) {
    .section .container {
        padding-top: 7rem;
    }
    
    .aside {
        left: -27rem;
    }

    .aside.open {
        left: 0;

    }
    
    .aside .nav-toggler {
        display: flex;
        left: 3rem;
    }

    .aside .nav-toggler.open {
        left: 30rem;
    }
    
    .section {
        left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;

    }
}

@media (max-width: 991px) {
    .contact .contact-item {
        flex: 0 0 50%;
        max-width: 50%;    
    }

    .home .container .row { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .home .container .row .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img::before,
    .home .home-img::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 40rem;
        left: -8rem;
    }
} 

@media (max-width: 970px) {
    html {
        font-size: 52.5%;
    }
}

@media (max-width: 770px) {
    .project .project-item .project-img .project-mobile{
        display: none;
    }
}


@media (max-width: 767px) {
    .about .about-content .skills,
    .about .about-content .education,
    .project .project-item,
    .contact .contact-item,
    .contact .contact-form .col-6 {        
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    h3.hello {
        font-size: 3rem;
    }
    
    h3.hello span {
        font-size: 4.5rem;
        display: block;
    }

    h3.my-profession {
        font-size: 3.7rem;
    }

    .home-info .home-button {
        display: flex;
        gap: 4rem;
        margin-top: 3rem;
    }

    .project .project-item .project-img .desktop {
        width: 45rem;
    }

    .project .project-item .project-img .project-desktop { 
        width: 35rem; 
        height: 22.2rem; 
        margin-top: 1.5rem;
    }
}

@media (min-width: 320px) and (max-width: 420px) {
    .btn { 
        font-size: 1.5rem;
        padding: 1rem 2rem; 
    }

    h3.hello {
        font-size: 3rem;
        font-size: 2.2rem;
    }
    
    h3.hello span {
        font-size: 4.5rem;
        font-size: 3.2rem;
        display: block;
    }

    h3.my-profession {
        font-size: 3.7rem;
        font-size: 2.3rem;
    }   

    .home .home-img img { 
        height: 30rem;
        margin-left: -4rem;
    }

    .home .home-img::before,
    .home .home-img::after {
        content: '';
        position: absolute;
        inset: 0;
        width: 30rem;
        left: -8rem;
    }

    .project .project-item .project-img .desktop {
        width: 30rem;
    }

    .project .project-item .project-img .project-desktop {    
        width: 23.5rem; 
        height: 14.9rem; 
        margin-top: .9rem;
    }

}


/*============ Thanks ============*/

.content-thanks {
    background-color: var(--bg-black-900);
    min-width: 100vh;
    min-height: 100vh;
}

.content-thanks .message-thanks {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.content-thanks .message-thanks h1 {
    font-size: 4rem;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.content-thanks .thanks-img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
}

/*-----------------------*/


/*
    <div class="contact-info-item padd-15">
        <a href="http://wa.me/5521968695409" class="contact-item" target="_blank"  rel="noopener noreferrer">
            <div class="icon">
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <h4>Telefone</h4>
            <p>+55 (21) 96869-5409</p>
        </a>                            
    </div>
*/