.style-switcher {
    position: fixed;
    right: 0;
    top: 6rem;
    padding: 1.5rem;
    width: 21rem;
    width: 25rem;
    border: .1rem solid var(--bg-black-50);
    border-radius: 2rem;
    background: var(--bg-input);
    z-index: 101;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
} 


.style-switcher.open {
    transform: translateX(-2.5rem);
    transition: all 0.3s ease-in-out;
}

.style-switcher .s-icon {
    position: absolute;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    background: var(--bg-input);
    color: var(--text-black-900);
    right: 100%;
    border: .1rem solid var(--bg-black-50);
    margin-right: 2.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;

    /*
    background: var(--bg-black-100);
    */
    
}

.style-switcher .s-icon:hover {
    filter: brightness(.7);
}

.style-switcher .s-icon i {
    line-height: 4rem;
}

.style-switcher .style-switcher-toggler {
    top: 0;
}

.style-switcher .day-night {
    top: 5.5rem;
}

.style-switcher h4 {
    margin: 0 0 1rem;
    color: var(--text-black-700);
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.style-switcher .colors span:hover {
    cursor: pointer;
    transform: scale(1.2);
}


.style-switcher .color-1 {
    background: #37B182;

}
.style-switcher .color-2 {
    background: #1854B4;

}
.style-switcher .color-3 {
    background: #F021B2;
}

.style-switcher .color-4 {
    background: #FF9000;

}

.style-switcher .color-5 {
    background: #fA5B0F; 
}

.style-switcher .color-6 {
    background: #EC1839;
}